* {
  margin: 0;
  padding: 0;
}

#sentence {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.word {
  font-size: 1.4rem;
  cursor: pointer;
  display: inline-block;
}

@keyframes upanddown {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@media (min-width: 750px) {
  #sentence {
    gap: 10px;
  }

  .word {
    font-size: 2rem;
  }
}

@media (min-width: 1050px) {
  #sentence {
    gap: 20px;
  }

  .word {
    font-size: 3rem;
  }
}

@media (min-width: 1350px) {
  #sentence {
    gap: 20px;
  }

  .word {
    font-size: 4rem;
  }
}
