* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#sentence {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.word {
  font-size: 4rem;
  cursor: pointer;
  display: inline-block;
}

@keyframes upanddown {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
